::ng-deep .mat-form-field-placeholder{
  
    color:red;
  }
  
  ::ng-deep .mat-focused .mat-form-field-placeholder{
    
    color:red;
  }
  
  ::ng-deep .mat-form-field-underline .mat-form-field-ripple{
    
     background-color:red;
  }
  
  ::ng-deep .mat-form-field-underline{
    
     background-color:red;
  }