<p>
  onecomponent works! {{user}}
</p>

<button class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/two']">
                two
              </button>

              <button class="btn btn-outline-primary btn-sm"
              [routerLink]="['/prod']">
        prod
      </button>



phanikanth
<input type="text" [(ngModel)]="edituser">
<button type="button" (click)="edit()">submit</button>


<button type="button" (click)="onetotwo()">onetotwo</button>

<button type="button" (click)="newtab()">newtab</button>

<input type="text" [(ngModel)]="ngcontnet">
<ng-content>

</ng-content>
<div class="form-check col-md-7">
  <label>
    <input class="form-check-input"
           type="checkbox"
           (change)="checkChanged($event.target.checked)"
           [checked]="displayCode2">
    Display Product Code1
  </label>
</div>


<input type="text" [(ngModel)]="textbox1" (change)="onChange($event)" >