<!--The content below is only a placeholder and can be replaced.-->

<!-- phani
<input type="text" [(ngModel)]='user'>
<button type="button" (click)="getbutton()">submit</button> -->
<!-- <app-checboxtable></app-checboxtable> -->
<!-- <app-onecomponent [message]="user"></app-onecomponent>
<app-twocomponent></app-twocomponent>

<app-scrollinfinity></app-scrollinfinity> -->
<a [routerLink]="['/products']" routerLinkActive="router-link-active">Products</a>
<div 
     [@slideInAnimation]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</div>